.cards{
    background-color: #FFFFFF;
    max-width: 1003px;
    max-height: 513px;
    padding: 24px;
    column-gap: 40px;
    position: relative;
}
.cards_conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards_row{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
}
.coffee_image{
    position: relative;
    background-color: #F5F1EF;
    padding: 70px;
}
.coffee_image img{
    width: 219.83975219726562;
    height: 324.0384521484375;
    opacity: 1;
    top: -12.02px;
    left: 40.38px;
}
.badge{
    position: absolute;
    background-color: #D32E00;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    top: 0px;
    left: 0px;
}
.badge{
    color: var(--bgColor);
    padding: 4px 16px;
}